@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lobster&family=Otomanopee+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.myname{
    color: whitesmoke;
    background: tomato;
    width: 100px;
    padding: 20px;
    display: block;
    text-align: center;
    border-radius: 5px;
    font-size: 150%;
    text-decoration: none;
    margin: 10px;A
}

.login{
    text-decoration: none;
    background: #ffc107;
    font-family: arial;
    color: white;
    padding: 15px 20px;
    /* display: inline-block; */
    display: block;
    text-align: center;
    font-weight: 500;
    /* float: right; */
    margin: auto;
    width: 80px;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 4px;
}
.login_3{
    text-decoration: none;
    background: blueviolet;
    color: white;
    padding: 17px 35px;
    border-radius: 4px;
    font-family: 'Fjalla One';
    font-size: 18px;
    text-align: center;
    margin: auto;
    display: block;
    width: 50px;
}
._4{
    background: #f44336;
}
.testing{
    text-decoration: none;   
    background: #ffc107;
    color: white;
    padding: 17px 25px;
    border-radius: 4px;
    font-family: arial;
    font-size: 19px;
    text-align: center;
    float: right;
}
.div1{
    text-decoration: none;
    color: red
 }
.A_Pic{
    width: 200px;
    margin:  auto;
    display: block;
}
.h1_1{
    text-decoration: underline;
    color: gray;
    font-family: arial black;
    text-align: center;
}
.B_1{
    background: #ff5722;
    display: inline-block;
    width: 70px;
    padding: 17px 22px;
    text-align: center;
    text-decoration: none;
    font-family: arial;
    font-weight: 600;
    color: white;
    border-radius: 3px;
    font-size: 17px;
}
.two{
    background: #f44336;
    float: right;
}
.bio_data{
    text-align: center;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.AC_Link{
    text-decoration: none;
}
.from{
text-align: center;
font-family: 'Otomanopee One', sans-serif;
font-weight: 100;
}
.list{
    font-family: 'Lobster', cursive;
    font-weight: 100;
}
table{
    font-family: 'Fjalla One', sans-serif;
    background: #ffeb3b;
    font-weight: 100;
}
input{
    font-family: 'Lobster', cursive;
}
select{
        font-family: 'Lobster', cursive;
}
textarea{
    font-family: 'Lobster', cursive;
}
.buton{
    text-decoration: none;
    color: blueviolet;
}
.d{
    color: #ffc107;
    text-decoration: none;
    font-size: 150px;
}
.last_1{
    text-decoration: none;
    background: blueviolet;
    color: white;
    padding: 15px 28px;
    border-radius: 3px;
    float: right;
    font-family: arial;
    font-size: 20px;
}

.inputbox{
    background: blueviolet;
    width: 300px;
    padding: 111px 0px;
    text-align: center;
    margin: auto;
    border-radius: 15px;
}
.input1{
    padding: 7px;
    border-radius: 10px;
    font-family: arial;
}
.link{
    background: #ffc107;
    text-decoration: none;
    color: white;
    padding: 9px 71px;
}
